[submodule "blogs"]
	path = blogs
	url = https://github.com/intellifactory/blogs
[submodule "legal"]
	path = legal
	url = https://github.com/intellifactory/legal
[submodule "website-template"]
	path = website-template
	url = https://github.com/intellifactory/website-template
	branch = dev3
