/src/Online/bin/*
/src/Online/obj/*
/src/Online/.vs/*
/src/Online/*.user
/src/Online/posts/*
/src/Online/wwwroot/Scripts/*
/src/Online/wwwroot/Content/*
/src/Online/wwwroot/assets/.gitkeep
/_template/node_modules/**
/_template/public/**
/_template/src/.gitignore

